@tailwind base;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', serif;
}

/* Navbar items */
.nav-link-area {
  @apply flex flex-row space-x-10 justify-center;
}

.w-restrict {
  @apply mx-auto max-w-6xl;
}

.nav-button {
  @apply w-64;
}
